<form method="post" enctype="multipart/form-data" action="#">
  <label for="sender">Votre adresse mail</label>
  <input type="email" id="sender" name="sender">

  <label for="receiver">Adresse mail du destinataire</label>
  <input type="email" id="receiver" name="receiver">

  <label for="file">Fichier à envoyer</label>
  <input type="file" id="file" name="file">
  <button>envoyer</button>
</form>
